body{
    background-color: rgb(226, 220, 220);

}
.ul{
    display: flex;
    text-decoration: none;
    
}
.limg{
margin-top: 30px;

}
.li1{
margin-top: 30px;
margin-left: 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 170%;
color: rgb(204, 174, 98);
}
.li2{
margin-top: 30px;
margin-left: 100px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 170%;
}



.li3{
margin-top: 30px;
margin-left: 120px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 170%; 
}
.imglow{
    display: flex;
    margin-left: 500px;
}
.fa-brands{
    margin-left: 50px;
}
.icon{
    display: flex;
    margin-bottom: 5px;
    margin-left: 880px;
}
.divback{
    background-image: url('xcitizen16112017.jpg.pagespeed.ic.zZk7qEx3_F.jpg');
    background-position: bottom;
    height: 280px;
    background-repeat: no-repeat;
}
.p11{
   margin-top: 30px;
   font-size: 120%;
margin-left: 80px;
}
.h11{
    
        color: rgb(194, 144, 17);
        margin-left: 80px;


}